OPENAI_API_KEY=
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
CLIP_VIDEO_PRESET=medium
CLIP_VIDEO_CRF=18
CLIP_AUDIO_BITRATE=192k
CLIP_MIN_DURATION_SECONDS=36
QUALITY_MIN_PASS_RATIO=0.60
QUALITY_MIN_AVG_GATE_SCORE=62
RAPIDAPI_KEY=your_rapidapi_key_here
RAPIDAPI_KEY_TIKTOK=
RAPIDAPI_KEY_YOUTUBE=
RAPIDAPI_KEY_SOCIAL=
RAPIDAPI_KEY_POOL=
DASHBOARD_TIKTOK_HANDLE=clipsyefersoncossio
DASHBOARD_YOUTUBE_HANDLE=clipsyefersoncossio
DASHBOARD_FACEBOOK_PAGE_URL=https://www.facebook.com/profile.php?id=61585631337441
DASHBOARD_YOUTUBE_PROVIDER=youtube138
DASHBOARD_FACEBOOK_PROVIDER=socialstats
DASHBOARD_FACEBOOK_QUERY=
DASHBOARD_FACEBOOK_PAGE_ID=
FACEBOOK_ACCESS_TOKEN=
DASHBOARD_CACHE_MINUTES=1800
